html, body{
  font-size: 100%;
	background:	#fff;
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", 宋体, sans-serif;
}

body {
  min-width: 900px;
}

body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
  text-indent: 2em;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration: none;
}
code {
    display: block;
    padding: 1em;
    margin: 1em auto;
    font-family: "Consolas",'Menlo',"Monaco","Lucida Console",
    "Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",
    "Courier New","monospace",sans-serif;
    background-color: #eff0f1;
    margin-left: 2em;
}


/*--header--*/
.header{
  position: relative;
  background: transparent url(../images/bg-mid.png) repeat-x;
  background-position: 40% 0;
}
.foreground {
  background: transparent url(../images/bg-front.png) repeat-x 150% 0;
  padding-top: 8em;
  padding-bottom: 8em;
}
.header-logo{
  position: absolute;
  left: 10%;
}
.header-logo h1 {
  color: #000;
  font-weight: 550;
  font-size: 25px;
  margin: 0;
}
.header-logo h1 a {
  color: #000;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 28px;
}

.header-logo h1 a:hover,
.header-logo h1 a:focus,
.header-logo h1 a:active {
  outline: none;
  color: #084;
}

.nowTime {
  position: absolute;
  margin-left: 2em;
  margin: 2em;
  font-size: 1.3em;
}
/*
.top-nav {
  float:right;
  width: 52%;
}
*/
.top-nav {
  position: absolute;
  left: 15%;
  margin-left: 25%;
  text-transform: uppercase;
}

.top-nav ul {
  margin: 0;
  z-index: 999;
}
.top-nav ul li{
  list-style-type:none;
  display: inline-block;
}

.top-nav ul li a:link,
.top-nav ul li a:visited {
  text-align: center;
  width: 7em;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 1px;
  color: #000;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.top-nav ul li a:hover,
.top-nav ul li a:focus,
.top-nav ul li a:active,
.top-nav ul li a.selected {
  outline: none;
  color: #fff;
  background-color: #8cca12;
  border: 1px solid #66a300;
  /*
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;*/
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
  -moz-text-shadow: 2px 2px 2px #66a300;
  -webkit-text-shadow: 2px 2px 2px #66a300;
  text-shadow: 2px 2px 2px #66a300;
}

.top-nav ul li ul {
  position: absolute;
  left: -9999px;
  width: 7em;
}
.top-nav li ul li a{
    text-align: center;
    width: 7em;
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
    background-color: #8cca12;
    border: 1px solid #66a300;
    /*
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;*/
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    -moz-text-shadow: 2px 2px 2px #66a300;
    -webkit-text-shadow: 2px 2px 2px #66a300;
    text-shadow: 2px 2px 2px #66a300;
}

.top-nav li:hover ul{
      left: auto;
}

.top-nav ul#eassy a {
  font-weight: normal;
}



/* Self Clearing Goodness */
.container:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
   }
.row:after,
.clearfix:after {
  clear: both;
   }
.row,
.clearfix {
  zoom: 1;
   }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---------------*/
/*--project-ends*/



/*--real contact start here--*/
#contact {
  position: absolute;
  width: 100%;
  -webkit-filter: brightness(0.3);
  -moz-filter: brightness(0.3);
  -o-filter: brightness(0.3);
  filter: brightness(0.3);
  height: 25em;
  overflow: hidden;
}

#contact-text {
    font-family: "Titillium Web", 'Open Sans', sans-serif;
    color: #fff;
    padding-top: 60px;
    width: 600px;
}
/* IE6 */
*html#contact-text {
  color: #000;
}
/* IE7 */
*+html#contact-text {
  color: #000;
}

.con-title {
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    padding-bottom: 30px;
}

.moreDetails {
  position: absolute;
  left: 25%;
}
.moreDetails p {
    font-size: 16px;
}

.address {
  list-style: none;
}
.address span {
  padding-left: 6px;
}
.address .tab {
  padding-left: 20px;
}
.address li {
  padding-bottom: 15px;
}

ul.address li span a:link, 
ul.address li span a:visited {
  color: #fff;
  text-decoration: none;
}

ul.address li span a:hover, 
ul.address li span a:focus,
ul.address li span a:active {
  color: #0ff;
  text-decoration: none;
}

/*--real contact end here--*/



/*--footer-starts--*/
.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
	background: #11191b;
  text-align: center;
}


.footer p {
  	color: #fff;
  	font-size: 16px;
  	font-weight: 300;
    height: 40px;
    line-height: 40px;
}


