
/* main contect styles start here */
#main {
	width: 100%;
	position: relative;
}

#main>div {
	margin-bottom: 10em;
}

/* cover image */
#cover-image {
	width: 100%;
	height: 30em;
	background: url(../images/cover.JPG) no-repeat left center;
	background-size: 100%;
	overflow: hidden;
}

/* my articles */
#myArticles {
	width: 70em;
	margin: 10em auto;
	font-family: 宋体, sans-serif;
}

#myArticles>h3 {
	text-indent: 10px;
	font-weight: 600;
	padding-bottom: 8px;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 5px 5px -5px #bbb;
	-moz-box-shadow: 0 5px 5px -5px #bbb;
	box-shadow: 0 5px 5px -5px #bbb;
	border-left: 5px solid #0a5;
}

#myArticles h3 .recommend {
	color: #0a5;
}

#myArticles article {
	margin-bottom: 20px;
	width: 80%;
	padding: 25px 25px 5px 25px;
	margin: 5em auto;
	border: 1px solid #f1f1f1;
	background: #f1f1f1;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #bbb;
}

#myArticles article .article-header {
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 10px;
}
#myArticles article .article-header a:link,
#myArticles article .article-header a:visited {
	text-decoration: none;
}
#myArticles article .article-header a:hover,
#myArticles article .article-header a:focus,
#myArticles article .article-header a:active {
	color:#c00;
}

#myArticles article .article-body img {
	height: 140px;
	width: 30%;
	float: left;
	padding: 3px;
	border: 1px solid #bbb;
}
/*
#myArticles article .article-body .articleText {
	width: 60%;
	height: 120px;
	line-height: 30px;
	overflow: hidden;
	float: right; 
}
*/

#myArticles article .article-body .articleText {
	width: 70%;
	height: 120px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 10%;
	color: #666;
}

.clearfix {
	clear: both;
}

#myArticles article .article-footer {
	padding: 15px 2px;
	font-family: "iconfont";
	font-size: 13px;
	position: relative;
}

.time {
    margin-right: 15px;
    padding-left: 22px;
    background: url(../images/icons/time.png) no-repeat center left;
    background-size: 17px 17px;
}

.read {
    margin-right: 15px;
    padding-left: 22px;
    background: url(../images/icons/read.png) no-repeat center left;
    background-size: 17px 17px;
}

.comment {
    margin-right: 15px;
    padding-left: 22px;
    background: url(../images/icons/comment.png) no-repeat center left;
    background-size: 17px 17px;
}

.readMore a:link,
.readMore a:visited {
	display: inline-block;
	font-size: 1em;
	position: absolute;
	right: 3em;
	bottom: 1.3em;
	border: 1px solid #00aa55;
	padding: 5px 10px;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	color: #fff;
	background-color: #00aa55;
}

.readMore a:hover,
.readMore a:focus,
.readMore a:active {
	background-color: #0ba505;
 	cursor: pointer;
}


/* main contect styles end here */


/* article style starts here */
.main-content {
	width: 70em;
	margin: 1em auto;
	padding: 5em;
}
.main-content .title {
	text-align: center;
}
.content-header {
	padding: 0.8em 2em;
	text-align: center;
	color: #555;
}
.content-header .person-head {
	margin-right: 15px;
    padding-left: 22px;
    background: url(../images/icons/head.png) no-repeat center left;
    background-size: 17px 17px;
}
.content-header .person-head:hover {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
    background: url(../images/icons/head-hover.png) no-repeat center left;
    background-size: 17px 17px;
}
.content-header .classified {
	margin-right: 15px;
    padding-left: 22px;
    border-left: 1px solid #666;
}
.content-header .classified a:link,
.content-header .classified a:visited {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.content-header .classified a:hover,
.content-header .classified a:focus,
.content-header .classified a:active {
	border-bottom: 1px solid #222;
	color: #084;
}

.content-body {
	padding-top: 2em;
	font-size: 16px;
	line-height: 2;
}
.content-body h3 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	font-size: 20px;
	font-weight: 600;
}
.content-body h4 {
	margin-top: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 18px;
	padding-left: 1em;
	border-left: 0.45em solid #999;
}
.content-body img {
	width: 80%;
	display: block;
	margin: 2em auto;
}
.indent {
  text-indent: 2em;
}
.inline-code {
  padding: 0.1em 0.3em;
  margin: 0 0.3em;
  font-family: "Consolas",'Menlo',"Monaco","Lucida Console",
    "Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",
    "Courier New","monospace",sans-serif;
  background-color: #eff0f1;
  white-space: pre-wrap;
  font-size: 0.9em;
}


/* article style ends here */