
/* 图片轮播 */
.imageroll {
	height: 30em;
    margin: 10px 11px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.imageroll img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30em;
}
.imageroll div {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.imageroll div a {
    background-color: #444;
    color: #fff;
    display: inline-block;
    float: left;
    height: 2em;
    line-height: 2em;
    margin-right: 0.05%;
    overflow: hidden;
    text-align: center;
    width: 19.95%
}
.imageroll div a:hover {
    text-decoration: none;
}
.imageroll div a em {
    cursor: pointer;
    display: block;    
    width: 100%;
}

/* main contect styles start here */
#main {
	width: 100%;
	margin-top: 5em;
    padding: 0 30px;
    zoom: 1;
    max-width: 1600px;
	overflow: hidden;
}



/* end */

/* my articles */
#myArticles {
	margin-left: 20%;
    max-width: 800px;
    width: 60%;
    display: inline-block;
}

#myArticles>h3 {
	text-indent: 10px;
	font-weight: 600;
	padding-bottom: 8px;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 5px 5px -5px #bbb;
	-moz-box-shadow: 0 5px 5px -5px #bbb;
	box-shadow: 0 5px 5px -5px #bbb;
	border-left: 5px solid #0a5;
}

#myArticles h3 .recommend {
	color: #0a5;
}

#myArticles article {
	margin-bottom: 20px;
	/*width: 80%;*/
	padding: 25px 25px 5px 25px;
	margin: 5em auto;
	border: 1px solid #f1f1f1;
	background: #f1f1f1;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #bbb;
}

#myArticles article .article-header {
	font-size: 1.4em;
	padding-bottom: 10px;
	font-family: "Microsoft YaHei";
}
#myArticles article .article-header a:link,
#myArticles article .article-header a:visited {
	text-decoration: none;
}
#myArticles article .article-header a:hover,
#myArticles article .article-header a:focus,
#myArticles article .article-header a:active {
	color:#c00;
}

#myArticles article .article-body img {
	height: 140px;
	width: 200px;
	float: left;
	padding: 3px;
	border: 1px solid #bbb;
}
/*
#myArticles article .article-body .articleText {
	width: 60%;
	height: 120px;
	line-height: 30px;
	overflow: hidden;
	float: right; 
}
*/

#myArticles article .article-body .articleText {
	min-width: 10%;
	/*width: 70%;*/
	height: 120px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 10%;
	color: #666;
}
#myArticles article .article-body .articleText  a:link,
#myArticles article .article-body .articleText  a:visited {
	color: #666;
}
#myArticles article .article-body .articleText  a:hover,
#myArticles article .article-body .articleText  a:focus,
#myArticles article .article-body .articleText  a:active {
	color: #222;
}

/* bottom page nav */
#pageNav {
	text-align: right;
    font-size: 14px;
    padding: 10px 0;
}
#pageNav ul {
	list-style-type: disc;
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
#pageNav ul li {
	display: inline-block;
}
#pageNav li a {
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -4px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#pageNav a:hover,
#pageNav a:focus,
#pageNav a:active {
	font-weight: bold;
	color: #fff;
	background-color: #f60;
}
#pageNav a.pageSelected {
	font-weight: bold;
	color: #fff;
	background-color: #f60;
}
#image-container {
    visibility: hidden;
}

.sidebar {
	float: right;
    min-width: 150px;
    width: 20%;
    font-size: 13px;
    padding: 35px 0 0 20px;
}
@media screen and (max-width:840px){
	#myArticles{display: block;margin:0 auto;width: 80%;} 
	.sidebar{display: block;margin:0 auto;width: 80%;float: none;padding: 0;margin-bottom: 5em;}
	.sidebar #myInfo {min-height: 100px;}
}
@media screen and (max-width:650px){
	#myArticles .readMore{display: none;}
}
@media screen and (max-width:600px){
	#myArticles img{display: none;}
	#myArticles article .article-body .articleText {padding-left: 0;}
}
.sidebar>div {
	border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.sidebar h4 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
}
hr {
	box-sizing: content-box;
    height: 0;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sidebar #myInfo img {
	float: right;
	width: 45px;
	height: 45px;
	margin: 0 0 5px 10px;
}
.sidebar p {
	text-indent: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sidebar #other-sites img {
    cursor: pointer;
    margin: 4px 6px 0 0;
    width: 25px;
    height: 25px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.sidebar #other-sites img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.clearfix {
	clear: both;
}

#myArticles article .article-footer {
	padding: 15px 2px;
	font-family: "iconfont";
	font-size: 13px;
	position: relative;
}
#myArticles article p{
	text-indent: 0;
}

.index-icon {
	margin-right: 2px;
    color: #8a8a8a;
    font-size: 15px;
}
i {
	margin-right: 2px;
}
.icon-item {
	margin-right: 5px;
}
#aboutMePart ul.aboutMePart-contact li{
	display: inline-block;
	color: #555;
}

#aboutMePart ul.aboutMePart-contact li:hover{
	color: #f60;
}
.aboutMePart-contact li a:link,
.aboutMePart-contact li a:visited{
	color: #555;
}
.aboutMePart-contact li a:hover,
.aboutMePart-contact li a:focus,
.aboutMePart-contact li a:active{
	color: #f60;
}
/*
.time {
    margin-right: 1%;
    padding-left: 22px;
    background: url(../images/icons/time.png) no-repeat center left;
    background-size: 17px 17px;
}
.read {
    margin-right: 1%;
    padding-left: 22px;
    background: url(../images/icons/read.png) no-repeat center left;
    background-size: 17px 17px;
}

.comment {
    margin-right: 1%;
    padding-left: 22px;
    background: url(../images/icons/comment.png) no-repeat center left;
    background-size: 17px 17px;
}

.mail {
	margin-right: 15px;
    padding-left: 25px;
    background: url(../images/icons/mail.png) no-repeat center left;
    background-size: 20px 20px;
}
.git {
	margin-right: 15px;
    padding-left: 25px;
    background: url(../images/icons/git.png) no-repeat center left;
    background-size: 17px 17px;
}
*/
.readMore a:link,
.readMore a:visited {
	display: inline-block;
	font-size: 1em;
	position: absolute;
	right: 1em;
	bottom: 1.3em;
	border: 1px solid #00aa55;
	padding: 5px 10px;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	color: #fff;
	background-color: #00aa55;
}

.readMore a:hover,
.readMore a:focus,
.readMore a:active {
	background-color: #0ba505;
 	cursor: pointer;
}


/* main contect styles end here */


/* article style starts here */
.main-content {
	width: 70em;
	margin: 1em auto;
	margin-bottom: 20em;
	padding: 5em;
}
.main-content .title {
	text-align: center;
}
.main-content video {
	width: 50%;
	margin: 2em 0;
}
.main-content video a:link,
.main-content video a:visited {
	color: #009fcc;
	text-decoration: underline;
}
.main-content video a:hover,
.main-content video a:focus,
.main-content video a:active {
	color: #f51;
	text-decoration: underline;
}
.content-header {
	padding: 0.8em 2em;
	text-align: center;
	color: #555;
}
.content-header .person-head {
	margin-right: 15px;
    padding-left: 22px;
    background: url(../images/icons/head.png) no-repeat center left;
    background-size: 17px 17px;
}
.content-header .person-head:hover {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
    background: url(../images/icons/head-hover.png) no-repeat center left;
    background-size: 17px 17px;
}
.content-header .classified {
	margin-right: 15px;
    padding-left: 22px;
    border-left: 1px solid #666;
}
.content-header .classified a:link,
.content-header .classified a:visited {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.content-header .classified a:hover,
.content-header .classified a:focus,
.content-header .classified a:active {
	border-bottom: 1px solid #222;
	color: #084;
}

.content-body {
	padding-top: 2em;
	font-size: 16px;
	line-height: 2;
}
.content-body h3 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	font-size: 20px;
	font-weight: 600;
}
.content-body h4 {
	margin-top: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 18px;
	padding-left: 1em;
	border-left: 0.45em solid #999;
}
.content-body img {
	width: 80%;
	display: block;
	margin: 2em auto;
}
.content-body img.small-image {
	width: 40%;
	display: block;
	margin: 1em auto;
}
.content-body h5 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.content-body ol li ol {
	list-style-type: lower-alpha; 
}
.content-body ul {
	list-style-type: none; 
}
.content-body .image-view {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.content-body .image-view .flex-column {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}

.content-body .flex-column img {
	height: 240px;
	width: 320px;
	padding: 1px;
	border: 1px solid silver;
	box-shadow: 2px 2px 2px #aaa;
	cursor: pointer;
}

#bigimg{
	position: absolute;
	border: 1px solid #ccc;
	background: #aaa;
	padding: 2px;
	display: none;
}

#aboutMePart div {
	position: relative;
	height: 13em;
}
#aboutMePart img#headPortrait {
	display: block;
	margin: 0;
	padding: 1px;
	width: 12em;
	height: 9em;
	position: absolute;
	right: 2em;
	top: 2em;
	border: 1px solid #bbb;
	box-shadow: 2px 2px 2px #bbb;
}
.indent {
  text-indent: 2em;
}
.inline-code {
  padding: 0.1em 0.3em;
  margin: 0 0.3em;
  font-family: "Consolas",'Menlo',"Monaco","Lucida Console",
    "Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",
    "Courier New","monospace",sans-serif;
  background-color: #eff0f1;
  white-space: pre-wrap;
  font-size: 0.9em;
}

.main-content .content-body  h5 {
	font-size: 1.1em;
	color: #000;
}

.quote {
	background-color: #c5f7ed;
	border-radius: 10px;
	padding: 10px 20px;
	margin-top: 30px;
	color: #555;
}

blockquote {
	color: #5a5a5a;	
	font-style: italic;
	text-align: center;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#faebcc),to(#ffd));
	background-color: #faebcc;
	border-top: 1px solid #e1cc89;
	border-bottom: 1px solid #e1cc89;
	width: 30em;
	margin: 2em auto;
	padding-left: 2em;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	text-shadow: 1px 1px 2px #ccc;
}

.content-footer {
	position: fixed;
	bottom : 3em;
    right : 1em;
    z-index: 9999;
}
.content-footer a {
	position: relative;
	display: block;
	margin-bottom: 1em;
	width: 60px;
	border: 0;
}
.content-footer a span.icon-text {
	display: inline-block;
	margin-top: 55px;
	width: 60px;
	text-align: center;
	font-size: 13px;
}

.content-footer a#backToTopLink:link,
.content-footer a#backToTopLink:visited {
	background: url(../images/icons/backToTop.png) top center no-repeat;
	background-size: 50px 50px;
	text-decoration: none;
	border: 0;
	color: #999;
}
.content-footer a#backToTopLink:hover,
.content-footer a#backToTopLink:focus,
.content-footer a#backToTopLink:active {
	background: url(../images/icons/backToTopAfter.png) top center no-repeat;
	background-size: 50px 50px;
	text-decoration: none;
	border: 0;
	color: #f90;
}

.content-footer a#backToHomeLink:link,
.content-footer a#backToHomeLink:visited {
	background: url(../images/icons/backToHome.png) top center no-repeat;
	background-size: 50px 50px;
	text-decoration: none;
	border: 0;
	color: #999;
}
.content-footer a#backToHomeLink:hover,
.content-footer a#backToHomeLink:focus,
.content-footer a#backToHomeLink:active {
	background: url(../images/icons/backToHomeAfter.png) top center no-repeat;
	background-size: 50px 50px;
	text-decoration: none;
	border: 0;
	color: #f90;
}
/* article style ends here */














