html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Titillium Web', sans-serif;

}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

/*--header--*/
.header{
  position: relative;
  background:black;
  padding: 2em 0;
}
.header-logo{
  float:left;
}
.header-logo h1 {
  color: #fff;
  font-weight: 550;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.header-logo h1 a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.header-logo h1 a:hover,
.header-logo h1 a:focus,
.header-logo h1 a.active {
  outline: none;
  color: rgba(255, 255, 255, 0.51);
}
/*
.top-nav {
  float:right;
  width: 52%;
}
*/
.top-nav {
  position: absolute;
  right: 25%;
  text-transform: uppercase;
}

.top-nav ul {
  margin: 0;
}
.top-nav ul li{
  list-style-type:none;
  display: inline-block;
}
/* Effect 15: scale down, reveal */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.top-nav ul li a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 600;
  -webkit-text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -moz-text-shadow: 0 0 1px rgba(255,255,255,0.3);
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.top-nav ul li a:hover,
.top-nav ul li a:focus,
.top-nav ul li a:active {
  outline: none;
  color: rgba(255, 255, 255, 0.51);
}
.nav1 li a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.nav1 li a:hover::before,
.nav1 li a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}


/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
   }
.row:after,
.clearfix:after {
  clear: both;
   }
.row,
.clearfix {
  zoom: 1;
   }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---------------*/
/*--project-ends*/



/*--real contact start here--*/
#contact {
  position: absolute;
  width: 100%;
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
  height: 30em;
  overflow: hidden;
}

#contact-text {
    color: #FFF;
    padding-top: 60px;
    width: 600px;
}
.con-title {
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    padding-bottom: 30px;
}

.moreDetails {
  position: absolute;
  left: 25%;
}
.moreDetails p {
    font-size: 16px;
}

.address {
  list-style: none;
}
.address span {
  padding-left: 6px;
}
.address .tab {
  padding-left: 20px;
}
.address li {
  padding-bottom: 15px;
}

ul.address li span a:link, 
ul.address li span a:visited {
  color: #fff;
  text-decoration: none;
}

ul.address li span a:hover, 
ul.address li span a:focus,
ul.address li span a:active {
  color: #0ff;
  text-decoration: none;
}
/*--real contact end here--*/



/*--footer-starts--*/
.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
	background: #11191b;
  text-align: center;
}


.footer p {
  	color: #fff;
  	font-size: 16px;
  	font-weight: 300;
    height: 40px;
    line-height: 40px;
}



